/* 
* - Custom styles
* - Override default Boostrap styles
*/ 

/* Alerts */

#alert {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    border-radius: 4px;
}

#alert-game-over {
    border-color: crimson;
    color:red;
}

/* Game Over styles */
.red {
    background-color: red;
    border-color: darkred;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Buttons */
button {
    display: block;
}

.q-btn {
    background-color: purple;
    border-color: purple;
    color: white;
    border-radius: 10px;
    /* make so only the actual button is clickable */
    display: block;
}

.q-btn:hover {
    background-color: purple;
    border-color: purple;
    color: white;
    border-radius: 10px;
    /* make so only the actual button is clickable */
    display: block;
}